.locked {
  overflow: hidden;
}

.menu__icon {
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 11;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transition: all .3s ease-in-out;
  background-color: #000;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__icon--active span {
  transform: scale(0) translate(0px, -50%);
}

.menu__icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
  transform: translate(0px, -100%);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu__body--active {
  transform: translate(0px, 0px);
}