.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.social__link--vk {
  background-image: url('../assets/img/vk.svg');
}

.social__link--telegram {
  background-image: url('../assets/img/telegram.svg');
}

.social__link--github {
  background-image: url('../assets/img/github.svg');
}

.social__link--email {
  background-image: url('../assets/img/email.svg');
}

.social__email {
  font-family: 'CircularStd-Italic';
  font-size: 14px;
}

@media (min-width: 576px) {
  .social__icons {
    justify-content: flex-start;
  }

  .social__link {
    margin-right: 20px;
  }

  .social__email {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .social__email {
    font-size: 18px;
  }
}