.header {
  min-height: 55px;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 8px solid #000;
}

.header__menu {
  padding-left: 10px;
  padding-right: 10px;
}

.menu__body {
  border: 8px solid #000;
  z-index: 10;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 0;
}

.menu__item {
  margin-bottom: 40px;
}

.menu__item:last-of-type {
  margin-bottom: 0;
}

.menu__item--heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__link {
  font-family: "CircularStd-Bold";
  font-size: 22px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

.menu__link:visited {
  color: #000;
}

.heart--container {
  position: relative;
  bottom: 12px;
  left: 48px;
  margin-bottom: -12px;
  margin-left: -48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  min-width: 48px;
}

.heart {
  width: 48px;
  height: 48px;
  transition: all .3s ease-in-out;
}

.heart--small {
  width: 32px;
  height: 32px;
}

.header__nav {
  display: none;
}

@media (min-width: 576px) {
  .header {
    padding: 10px 0 10px 30px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px 40px;
  }

  .header__nav {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav__item {
    font-family: 'CircularStd-Bold';
    font-size: 18px;
  }
}