.header {
  height: 55px;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 8px solid #000;
}

.header__menu {
  padding-left: 10px;
  padding-right: 10px;
}

.menu__body {
  border: 8px solid #000;
  z-index: 10;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 0;
}

.menu__item {
  margin-bottom: 40px;
}

.menu__item:last-of-type {
  margin-bottom: 0;
}

.menu__link {
  font-family: "CircularStd-Bold";
  font-size: 22px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

.menu__link:visited {
  color: #000;
}