@import url('normalize.css');
@import url('burger.css');
@import url('fonts.css');
@import url('header.css');
@import url('sections.css');
@import url('slider.css');
@import url('footer.css');

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

body {
  background-color: #f4efde;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.image {
  width: 100%;
  height: 100%;
}

.orange-text {
  color:#c85108;
}

.blue-text {
  font-family: 'CircularStd-Italic';
  font-size: 16px;
  color: #6C809A;
}

.crossed-text {
  text-decoration: line-through;
}