.section {
  border: 8px solid #000;
  border-top: none;
  padding: 20px;
}

.section__header {
  display: block;
  width: fit-content;
  margin: 0;
  font-family: 'CircularStd-Bold';
  font-size: 32px;
}

.section__header::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #000;
}

.section__header--right {
  position: relative;
  float: right;
}

.blink-dash {
  position: absolute;
  display: none;
  font-family: 'CircularStd-Book';
  transition: all .3s ease-in-out;
}

.blink-dash--active {
  display: inline;
}

.section__about-me {
  padding: 10px 0 0 0;
}

.about-me__image {
  position: relative;
  bottom: 100px;
  left: calc(100% - 150px);
  margin-bottom: -85px;
  width: 150px;
  height: 150px;
  border: 8px solid #000;
}

.about-me__paragraph {
  display: inline;
  padding-left: 15px;
  font-family: 'CircularStd-Book';
  font-size: 18px;
}

.section__skills {
  margin-top: 60px;
}

.skills__container {
  padding-top: 60px;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.skill__title {
  display: flex;
  align-items: center;
  font-family: 'CircularStd-Bold';
  font-size: 22px;
  margin: 0;
}

.skill__title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 100%;
  margin-right: 8px;
  background-color: #c85108;
}

.skill__level {
  display: flex;
  align-items: center;
  font-family: 'CircularStd-Italic';
  font-size: 16px;
  margin: 0;
}

.skill__level::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 100%;
  margin-left: 8px;
  background-color: #6C809A;
}

.skill__level--proficient::after {
  background-color: #305129;
}

.skill__level--elementary::after {
  background-color: #6C809A;
}

.skill__level--elementary::after {
  background-color: #18206F;
}

.skill__level--advanced::after {
  background-color: #EAC435;
}

.projects__container {
  margin-top: 20px;
}

.project__title {
  font-family: 'CircularStd-Bold';
  font-size: 22px;
}

.project__describtion {
  margin: 0;
  font-family: 'CircularStd-Book';
  font-size: 20px;
}

.project__describtion:last-of-type {
  margin-top: 10px;
}

.project__list {
  padding: 20px;
  margin: 0;
  list-style-type: none;
}

.list__item {
  font-family: 'CircularStd-Italic';
  font-size: 18px;
}

.list__item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background-color: #6C809A;
}

@media (max-width: 340px) {
  .about-me__image {
    width: 120px;
    height: 120px;
    left: calc(100% - 120px);
  }
}

@media (min-width: 576px) {
  .section {
    padding: 20px 40px;
  }
}

@media (min-width: 768px) {
  .container--collide {
    display: flex;
    flex-direction: row;
  }

  .section--collide {
    display: inline-block;
    width: calc(50%);
  }

  .section--collide:first-of-type {
    border-right: none;
  }

  .section__about-me {
    margin-top: 50px;
  }

  .about-me__paragraph,
  .blink-dash {
    font-size: 24px;
  }
}